body {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 18px;
}

li, p {
    color: #545454;
    font-size: 18px;
}

a.text_deco {
    text-decoration: underline;
}

a:not(.text_deco_hover):hover {
    text-decoration: none;
}

a:hover {
    color: #eebe00;
}

.pink_bg {
    color: #fff;
    background: #eebe00;
    padding: 0 5px;
    display: inline-block;
}

.alert-danger p {
    color: #721c24;
    margin: 0;
}

.form-group label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 23px;
    color: #333333;
    margin-bottom: 0.25rem;
    display: block;
}

.form-group label .required {
    color: #999999;
    border-bottom: 1px dotted;
}

.form-control:disabled, .form-control[readonly] {
    color: #333333;
}

.form-control:focus {
    box-shadow: none;
    color: #85868c;
}

.form-control {
    border-radius: 0;
    font-size: 14px;
    line-height: 25px;
    color: #85868c;
}

.form-group label.error {
    font-weight: normal;
    font-size: 11px;
    color: red;
}

.bg_pink {
    background-color: #eebe00;
}

.text_gray, a.text_gray:hover {
    color: #999;
}

.text_pink, a.text_pink:hover {
    color: #eebe00;
}

.text_black, a.text_black:hover {
    color: #333;
}

.text_green, a.text_green:hover {
    color: #8fd98f;
}

.theme_btn {
    font-weight: 800;
    padding: 12px 30px 12px 30px;
    background-color: #eebe00;
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
}

button.theme_btn {
    border: 0;
}

.theme_btn:hover {
    background-color: #eebe00;
    color: #fff;
}

.border_bottom {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 35px;
}

.border_bottom:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 3px;
    background-color: #eebe00;
}

.img_wrapper {
    position: relative;
}

.img_wrapper .sale {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 700;
}

.img_wrapper .percent {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 700;
}

.separator-wrap {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.separator-holder {
    position: absolute;
    display: block;
    top: 49.99%;
    width: 2000px;
    border-top: 1px dotted #eebe00;
    content: '';
}

.separator-left {
    right: 100%;
    margin-right: 1em;
}

.separator-right {
    left: 100%;
    margin-right: 1em;
}

/* header starts */
header .top_bar {
    padding: 5px 0;
    background-color: #f6f6f6;
}

header .top_bar_left a {
    font-size: 14px;
}

header .top_bar_left a:hover {
    color: #f8a8bd;
}

header .social-icons a {
    border: 2px solid #8e8e8e;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 14px;
    color: #8e8e8e;
}

header .social-icons a:hover {
    border-color: #c1c1c1;
}

.search_form .input-group {
    border-radius: 50px;
    overflow: hidden;
    width: 150px;
}

.search_form .input-group:hover {
    width: 200px;
}

.search_form input {
    color: #aaa;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.search_form input::-webkit-input-placeholder { /* Edge */
    color: #aaa;
}

.search_form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaa;
}

.search_form input::placeholder {
    color: #aaa;
}

.fa-search {
    color: #aaa;
    transform: rotateY(180deg);
}

/* header center logo */
header .header_comp {
    -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, .07);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .07);
}

header .header_comp .cart_wrapper {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

header .header_comp .cart_wrapper:hover {
    color: #eebe00 !important;
}

header .header_comp .cart_up {
    margin-top: -60px;
    padding-bottom: 40px;
}

header .logo_center .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

header .header_comp .nav-link {
    font-size: 20px;
    position: relative;
    color: #8c8c8c;
}

header .header_comp .nav-link:hover {
    color: #000000;
!important;

}

header .nav-link span:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0px;
    right: 0px;
    margin: auto;
    /* border: 1px solid #eebe00; */
    width: 83%;
    transition: 0.4s;
}

header .nav-link:hover span::after {
    bottom: 0px;
    border: 1px solid #000000;
}

/* header ends */
.header_new {
    background-color: #f6f6f6;
}

#menu_area li.all_categories_wrapper {
    overflow: hidden;
}

#menu_area li.all_categories_wrapper:hover {
    overflow: visible;
}

#menu_area .all_categories {
    color: #8c8c8c;
}

#menu_area .all_categories_wrapper:hover > a {
    background-color: #eebe00;
    color: #ffffff;
}

#menu_area .all_categories_wrapper:hover > ul {
    top: 100%;
}

.mainmenu .dropdown-menu a {
    color: #8c8c8c;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0 solid transition !important;
    border: 0 solid rgba(0, 0, 0, .15);
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a, .mainmenu .navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    padding: 16px 15px;
    font-family: 'Roboto', sans-serif;
    display: block !important;
}

.mainmenu .active a, .mainmenu .active a:focus, .mainmenu .active a:hover, .mainmenu li a:hover, .mainmenu li a:focus, .navbar-default .navbar-nav > .show > a, .navbar-default .navbar-nav > .show > a:focus, .navbar-default .navbar-nav > .show > a:hover {
    color: #eebe00;
    outline: 0;
}

/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a {
    background: #f6f6f6;
}

.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover {
    background: #f6f6f6;
}

.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu {
    background: #ffffff;
}

.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu {
    background: #ffffff;
}

.mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu {
    background: #ffffff;
}

/******************************Drop-down menu work on hover**********************************/
.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    min-height: 20px;
    width: 100%;
}

@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul li:hover > ul {
        opacity: 1;
    }

    .mainmenu .sub_menu {
        display: block;
        overflow: hidden;
    }

    .mainmenu .sub_menu:hover {
        overflow: visible;
    }

    .mainmenu .collapse ul .sub_menu > ul {
        left: 0px;
        overflow: hidden;
        min-width: 0px;
        width: 0px;
        opacity: 0;
    }

    .mainmenu .sub_menu:hover > ul {
        left: 100% !important;
        min-width: 250px !important;
        width: 100% !important;
        overflow: visible !important;
        opacity: 1;
    }

    .mainmenu .collapse ul ul {
        position: absolute;
        top: 120%;
        left: 0;
        min-width: 250px;
        display: block;
        transition: all .3s ease;
    }

    /*******/
    .mainmenu .collapse ul ul li {
        position: relative
    }

    /* .mainmenu .collapse ul ul li:hover> ul{display:block} */
    .mainmenu .collapse ul ul ul {
        position: absolute;
        top: 0;
        left: 100%;
        min-width: 250px;
    }

    /*******/
    .mainmenu .collapse ul ul ul li {
        position: relative
    }

    /* .mainmenu .collapse ul ul ul li:hover ul{display:block} */
    /* .mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1} */

}

.sub_menu .dropdown-toggle::after {
    transform: rotate(-90deg);
}

@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a {
        padding: 16px 15px 16px 35px
    }

    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a {
        padding: 16px 15px 16px 45px
    }
}

#heroSlider .carousel-item {
    min-height: 500px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*---Firefox Bug Fix --*/

#heroSlider .carousel-item {
    -webkit-backface-visibility: hidden;
    -webkit-animation: 36s linear infinite 0s;
    -moz-animation: 36s linear infinite 0s;
    -o-animation: 36s linear infinite 0s;
    -ms-animation: 36s linear infinite 0s;
    animation: 36s linear infinite 0s;
}


.stretch-card > .card {
    width: 100%;
    min-width: 100%
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width: 991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width: 767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 3rem
}

.owl-carousel .item {
    margin: 3px
}

.owl-carousel .item img {
    display: block;
    width: 100%;
    height: auto
}

.owl-carousel .item {
    margin: 3px
}

.owl-carousel {
    margin-bottom: 15px
}

#categories_carousel .img_wrapper {
    background-color: #f7f7f7;
}

#categories_carousel .card-footer {
    border-top: 0px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    color: #444;
}

#categorypointer {
    text-transform: capitalize;
    max-width: 160px;
    height: 40px;
    position: absolute;
    background: #b1d7fa;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}

#categorypointer:after {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #a6b7c7;
    border-left: 12px solid transparent;
}

#categorypointer:before {
    content: "";
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 10px solid #b1d7fa;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

/* .desk_carousel .owl-buttons{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 25%;
    width: 100%;
} */
.desk_carousel .owl-buttons div {
    background-color: white;
    display: block;
    color: #d0d0d0;
    line-height: 40px;
    transition: all .2s ease;
    text-transform: none;
    padding: 0px 16px;
    border-radius: 50%;
    border: 1px solid;
    position: absolute;
    top: 25%;
}

.desk_carousel .owl-buttons .owl-prev {
    margin-left: -20px;
    left: 0px;
}

.desk_carousel .owl-buttons .owl-next {
    margin-right: -20px;
    right: 0px;
}

.front_page_category .category_inner {
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 3px;
}

.front_page_category .img_wrapper > a:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #444;
    opacity: 0;
    transition: all .1s ease
}

.front_page_category .img_wrapper:hover > a:after {
    opacity: 0.5;
}

.front_page_category .img_wrapper .sale {
    left: unset;
    right: 0px;
}

.front_page_category .product_actions {
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 16;
}

.front_page_category .product_actions > a {
    background-color: #f1f1f1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    color: #8e8e8e;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.front_page_category .img_wrapper:hover .product_actions > a {
    opacity: 1;
    visibility: visible;
}

.front_page_category .product_actions > a:hover {
    background: #97c300;
    color: #fff;
}

.front_page_category .content {
    padding: 10px;
}

.front_page_category .rate {
    margin-bottom: 2px;
}

.front_page_category .rate i {
    color: #f1f1f1;
    font-size: 10px;
}

.front_page_category .price {
    margin-bottom: 20px;
}

.front_page_category .price del {
    color: #999;
}

.front_page_category .price span {
    color: #97c300;
    font-size: 18px;
    font-weight: 900;
}

.front_page_category .qty {
    max-width: 60px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 3px 2px 3px 0;
    margin-right: 3px;
}

.front_page_category .qty input {
    width: 100%;
    border: none;
    text-align: center;
}

.front_page_category .qty input:focus {
    outline: 0px;
}

.front_page_category .qty_controller span {
    display: list-item;
    list-style: none;
    background-color: #f1f1f1;
    width: 15px;
    height: 16px;
    line-height: 15px;
    color: #8e8e8e;
    cursor: pointer;
    font-size: 15px;
}

.front_page_category .qty_controller .plus {
    margin-bottom: 5px;
}

.front_page_category .btn_wrapper .add_cart {
    border: none;
    width: 100%;
    /* flex: 0 0 100%; */
    background-color: #f1f1f1;
    border-radius: 4px;
    color: #8c8c8c;
    font-weight: 700;
    font-size: 15px;
    padding: 12px 0;
    cursor: pointer;
}

.front_page_category .btn_wrapper .add_cart:hover {
    background-color: #97c300;
    color: white;
}

.front_page_category .item img {
    max-height: 360px;
}

/* main section */
#main {
    padding: 20px 0;
}

#main .title-wrap {
    min-height: 100px;
    padding-top: 25px;
    padding-bottom: 20px;
}

#main h1.page-title {
    font: normal 26px / 44px "PT Sans", Helvetica, Arial, Verdana, sans-serif;
    color: #333333;
    text-transform: none;
}

#main .breadcrumbs {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 5px 0px 0px 0px;
}

#main .breadcrumbs a, #main .breadcrumbs li {
    color: #b4b5bb;
    font: normal 13px / 23px "PT Sans", Helvetica, Arial, Verdana, sans-serif;
    text-transform: none;
}

#main .breadcrumbs li {
    position: relative;
    display: inline-block;
    padding-left: 12px;
    margin-left: 8px;
}

#main .breadcrumbs li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 13px;
    content: "/";
    text-align: left;
    z-index: 3;
}

#main .breadcrumbs li:first-child::before {
    content: '';
}

#main .breadcrumbs li:first-child {
    padding-left: 0;
    margin-left: 0;
    background: 0 0 !important;
}

/* supergave starts */
#supergave .head h1 {
    font-weight: 600;
}

#supergave .head .btn_wrapper {
    margin-top: 60px;
}

#supergave .head .btn_wrapper a {
    font-size: 14px;
}

#supergave .img_wrapper .cart_kopen .cart_text {
    display: none;
}

#supergave .img_wrapper .cart_kopen {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 37px;
    height: 37px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    padding: 0 10px;
    transition: 0.3s;
}

#supergave .img_wrapper .cart_kopen:hover {
    width: 115px;
}

#supergave .img_wrapper .cart_kopen:hover span {
    display: block;
}

#supergave .img_wrapper .cart_kopen i {
    font-size: 16px;
}

.img_wrapper .wishlist_btn,
.img_wrapper .remove_wishlist {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 37px;
    height: 37px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    padding: 0 10px;
    transition: 0.3s;
    color: #eebe00;
}

#supergave .img_wrapper .remove_wishlist {
    color: #333333
}

.img_wrapper .wishlist_btn i,
.img_wrapper .remove_wishlist i {
    font-size: 26px;
}

#supergave .img_wrapper .img_hover {
    display: none;
}

#supergave .img_wrapper a .img_def {
    display: block;
}

#supergave .img_wrapper a:hover .img_def {
    display: none;
}

#supergave .img_wrapper a:hover .img_hover {
    display: block;
}

#supergave .title {
    font-size: 16px;
}

#supergave .title:hover {
    color: #eebe00;
}

#supergave .price {
    font-size: 14px;
}

/* supergave ends */
/* vrolijke starts */
#vrolijke .head h1 {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#vrolijke .head strong {
    font-size: 18px;
    /* color: #545454; */
}

#vrolijke p {
    /* color: #545454; */
    font-size: 18px;
}

/* vrolijke ends */
.faq-wrap {
    margin-bottom: 35px;
}

.faq-single {
    margin-bottom: 15px;
}

.faq-single .question {
    color: #333;
    font: normal 18px / 31px "PT Sans", Helvetica, Arial, Verdana, sans-serif;
}

.faq-single .answer {
    padding-left: 25px;
}

/* footer starts */
footer {
    background-color: #1a1c20;
}

footer .main_footer {
    padding: 60px 0px;
}

footer .nav-item:not(:last-child) {
    border-bottom: 1px solid rgba(133, 134, 140, .15);
    padding: 3px 0;
}

footer .nav-item .nav-link {
    font-size: 14px;
}

footer .nav-item .nav-link:hover {
    color: #eebe00 !important;
}

footer #accordion .btn-link {
    font-size: 14px;
    text-decoration: none;
}

footer #accordion .btn-link:hover,
footer #accordion .btn-link:hover i {
    color: #eebe00 !important;
}

footer #accordion .btn-link i {
    font-size: 10px;
    color: rgba(133, 134, 140, .5);
    background-color: rgba(133, 134, 140, .15);
    margin-right: 5px;
    padding: 2px;
}

footer .collapse {
    color: #85868c;
    font-size: 14px;
}

footer .bottom_bar {
    background-color: rgb(49, 51, 55);
}

footer .bottom_bar span {
    font-size: 13px;
}

/* footer ends */
/* product_page */
/* product starts */
#product .carousel-indicators {
    /* bottom: -215px !important; */
    position: unset;
    margin-bottom: 0px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#product .carousel-indicators li {
    max-width: 20%;
    flex: 0 0 20%;
    width: 100%;
    height: unset;
    text-indent: initial;
}

#product .carousel-indicators li:hover,
#product .carousel-indicators li.active {
    opacity: 1;
}

form .form_elements, form .quant_btn .btn {
    font-size: 14px;
    color: #85868c;
    padding: 5px 15px 5px 15px;
    border: 1px solid rgba(170, 170, 170, .25);
    background-color: #fdfdfd;
    border-radius: 0;
    outline: 0;
    height: 38px;
    vertical-align: middle;
    box-shadow: none;
}

form .quantity {
    border-left: 0;
    border-right: 0px;
    text-align: center;
    font-weight: 700;
    width: 60px;
}

form .quantity::-webkit-outer-spin-button,
form .quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
}

form .quant_btn .form_elements {
    width: 20px;
    padding: 0px !important;
}

#product form .theme_btn {
    padding: 7px 30px;
}

#product form strong {
    font-size: 13px;
}

#product .product_meta {
    font-size: 13px;
}

#product .product_meta .posted_in {
    position: relative;
    margin: 0 6px 5px 0;
    padding: 0 9px 0 0;
}

#product .product_meta .posted_in:after {
    position: absolute;
    right: 0;
    bottom: 15%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 3px;
    height: 3px;
    content: "";
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #999;
}

#product .tagged_as a {
    font-size: 10px;
    display: inline-block;
    padding: 1px 6px;
    margin: 2px 1px 2px 0;
    border: 1px solid rgba(170, 170, 170, .25);
}

#product .tagged_as a:hover {
    color: #333;
}

#product .share_icon p {
    font-size: 14px;
}

#product .share_icon a {
    width: 50px;
    height: 30px;
    min-width: 50px;
    min-height: 30px;
    margin: 0 4px 4px 0;
    border: 1px solid rgba(76, 105, 199, .3);
    font-size: 13px;
    color: #4c69c7;
    border-radius: 0px;
    text-decoration: none;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
    -webkit-box-sizing: border-box;

}

#product .share_icon a:hover {
    border-color: #4c69c7;
}

/* product ends */
/* product description start */
#product_description .nav {
    border-top: 1px solid #dee2e6;
}

#product_description .nav .nav-item {
    margin: 20px 20px 20px 0px;
    font-weight: 700;
    font-size: 18px;
    position: relative;
}

#product_description .nav .nav-item:hover,
#product_description .nav .nav-item.active {
    color: #333;
}

#product_description .tab-pane .info_box {
    background-color: rgba(170, 170, 170, .1);
    font-size: 18px;
}

/* product_description ends */
/* product_related starts */
#product_related .product_related img {
    max-height: 133px;
}

#product_related .related_product_description h5 a {
    font-weight: 700;
}

#product_related .related_product_description .btn_wrapper a {
    padding: 9px 14px;
}

/* product_related ends */
.sidebar_open_btn {
    background: #eebe00 !important;
    border: 0px;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
    padding: 4px 10px;
    color: #fff;
}

.sidebar_open_btn span {
    display: block;
    border-bottom: 2px solid white;
    margin: 4px 0;
}

aside {
    position: fixed;
    top: 0;
    height: 100%;
    min-height: 100%;
    width: 500px;
    max-width: 100%;
    z-index: 9602;
    padding: 30px 30px 0;
    box-sizing: border-box;
    background-color: #f6f6f6;
    -ms-transition: -ms-transform .5s ease;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    -ms-transform: translate3d(-100%, 0, 0);
    /* -webkit-transform: translate3d(-100%,0,0); */
    /* transform: translate3d(-100%,0,0); */
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* right: -500px; */
    left: unset;
}

aside .nav-item {
    border-bottom: 1px solid rgb(234, 46, 111);
    padding: 10px 0px 10px 0;
}

aside .nav-item:hover span {
    color: #3c3e45;
}

aside .nav-item span {
    color: #eebe00;
    font-weight: 700;
    font-size: 16px;
}

aside .sidebar_close_btn {
    position: fixed;
    top: 0px;
    right: 0px;
}

aside .sidebar_close_btn span {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
}

aside .sidebar_close_btn span:before {
    display: inline-block;
    height: 2px;
    background: #eebe00;
    position: absolute;
    content: '';
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -11px;
    width: 22px;
    -webkit-transition: -webkit-transform .1s ease;
    transition: transform .1s ease;
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

aside .sidebar_close_btn span:after {
    display: inline-block;
    height: 2px;
    background: #eebe00;
    position: absolute;
    content: '';
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -11px;
    width: 22px;
    -webkit-transition: -webkit-transform .1s ease;
    transition: transform .1s ease;
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

aside .sidebar_close_btn:hover span:after {
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
}

aside .sidebar_close_btn:hover span:before {
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
}

.checkout-breadcrumbs {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    margin: 30px 0;
}

.checkout-breadcrumbs a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    text-align: center;
    text-decoration: none;
    flex: 1 0 auto;
    width: 33.333%;
    color: rgba(59, 63, 74, 0.3);
    font: 19px / 34px "PT Sans", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

.checkout-breadcrumbs a.current {
    color: #3b3f4a;
}

.checkout-breadcrumbs .checkout-step {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
    flex: 1 0 auto;
}

.checkout-breadcrumbs .checkout-counter {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background-color: rgba(59, 63, 74, 0.09);
    color: rgba(59, 63, 74, 0.3);
}

.checkout-breadcrumbs .current .checkout-counter {
    color: #fff;
    background-color: #eebe00;
}

.checkout-breadcrumbs .checkout-step::before,
.checkout-breadcrumbs .checkout-step::after {
    position: absolute;
    top: 50%;
    margin-top: 5px;
    width: calc(50% - 40px);
    height: 3px;
    content: "";
    background-color: rgba(59, 63, 74, 0.09);
    left: 0
}

.checkout-breadcrumbs .checkout-step::after {
    left: calc(50% + 40px);
}

.checkout-breadcrumbs .step-cart .checkout-step::after {
    width: calc(100% - 80px);
}

.checkout-breadcrumbs .current .checkout-step::before {
    display: none;
}

.checkout-breadcrumbs .current .checkout-step::after {
    background-color: #eebe00;
}

.checkout-breadcrumbs .current.last .checkout-step::after {
    display: none;
}

.checkout-breadcrumbs .step-cart.hide-for-small .checkout-step:after {
    background-color: #eebe00;
}

.checkout-breadcrumbs .step-cart.current:not(.hide-for-small) .checkout-step:after {
    width: calc(50% - 40px);
}

.checkout-breadcrumbs .last .checkout-step::after {
    display: none;
}

#frm-cart {
    margin-bottom: 20px;
}

#frm-cart th {
    font-size: 13px;
    color: #999999;
    font-weight: normal;
    text-transform: uppercase;
}

#frm-cart td {
    font-size: 14px;
    color: #999999;
}

#frm-cart td.product-remove {
    vertical-align: middle;
}

#frm-cart td.product-remove a {
    color: #999999;
}

#frm-cart td.product-name a {
    color: #333333;
    font-weight: bold;
}

#frm-cart td.product-name a:hover {
    color: #eebe00;
}

#frm-cart .product-quantity {
    min-width: 95px;
}

#frm-cart th.product-subtotal {
    text-align: right;
}

#frm-cart td.product-subtotal {
    text-align: right;
    color: #333333;
    font-weight: bold;
}

#frm-cart .btn-update-cart {
    color: #999999;
    box-shadow: none;
}

#frm-cart .btn-update-cart i {
    margin-right: 5px;
}

.cart-total {
    background: rgba(170, 170, 170, 0.1);
    padding: 30px;
}

.cart-total h2 {
    color: #333333;
    font: 18px / 31px "PT Sans", Helvetica, Arial, Verdana, sans-serif;
}

.cart-total tr {
    padding: 10px 0;
    display: block;
}

.cart-total th, .cart-total td {
    display: block;
    padding: 0;
    border: 0;
}

.cart-total th {
    color: #999999;
    font-size: 14px;
    line-height: 25px;
    font-weight: normal;
}

.cart-total tr.cart-product {
    font-size: 14px;
    line-height: 25px;
    color: #545454;
}

.cart-total tr.cart-product, .cart-total tr.cart-subtotal, .cart-total tr.cart-shipping, .cart-total tr.cart-tax {
    border-bottom: 1px solid rgba(170, 170, 170, 0.25)
}

.cart-total button.theme_btn {
    font-size: 18px;
    border: none;
    width: 100%;
}

#frm-checkout .checkboxes label {
    font-size: 18px;
}

#frm-checkout .checkboxes i {
    width: 30px;
    text-align: center;
}

#frm-checkout .privacy-text, #frm-checkout .term-checkbox {
    font-size: 13px;
    line-height: 23px;
}

#frm-checkout .term-checkbox {
    position: relative;
    /*text-transform: uppercase;*/
}

#frm-checkout .term-checkbox label.error {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 11px;
    color: red;
}

#frm-checkout .single-payment-method {
    margin-bottom: 10px;
}

#frm-checkout .single-payment-method label {
    color: #333333;
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
}

#frm-checkout .single-payment-method label.error {
    font-weight: normal;
    display: block;
    font-size: 11px;
    color: red;
    text-transform: uppercase;
}

#frm-checkout .single-payment-method label input[type="radio"] {
    margin-right: 10px;
}

#frm-checkout .single-payment-method label img {
    margin-left: 5px;
}

#frm-checkout .single-payment-method .issuers p {
    color: #333333;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 5px;
}

#frm-checkout .single-payment-method .issuers select {
    border: 1px solid #ced4da;
    padding: 5px 8px;
    background: #fff;
}

#login-register .gray-box {
    background: rgba(170, 170, 170, 0.1);
    padding: 25px 30px 20px;
    margin-bottom: 20px;
    min-height: 380px;
}

#login-register .gray-box h2 {
    font: 18px / 31px "PT Sans", Helvetica, Arial, Verdana, sans-serif;
    margin-bottom: 10px;
}

#login-register .gray-box a {
    color: #999999;
}

#login-register .gray-box p, #login-register .gray-box a {
    font-size: 13px;
    line-height: 23px;
}

#customer-dashboard ul.nav-menu {
    margin: 0 0 30px 0;
    padding: 0;
}

#customer-dashboard ul.nav-menu li {
    background-color: rgba(170, 170, 170, 0.1);
    margin-bottom: 10px;
    list-style: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

#customer-dashboard ul.nav-menu li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    font-size: 18px;
    line-height: 27px;
}

#customer-dashboard ul.nav-menu li a:hover {
    color: #eebe00;
}

#customer-dashboard ul.nav-menu li.active {
    background-color: #eebe00;
}

#customer-dashboard ul.nav-menu li.active a {
    color: #fff;
}

#cookie-popup {
    position: fixed;
    bottom: -100%;
    background: #eee;
    -webkit-transition: bottom 1s;
    transition: bottom 1s;
}

#cookie-popup.show {
    bottom: 0;
    z-index: 999;
}

#cookie-popup p {
    margin: 0;
    font-size: 16px;
}

.blog-leftcol {
    border-right: 1px solid #eee;
}

.single-post-thumbnail {
    position: relative;
    margin-bottom: 45px;
    line-height: 0;
}

.single-post-thumbnail .fancy-categories {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    z-index: 30;
    top: 10px;
    left: 10px;
}

.single-post-thumbnail .fancy-categories a {
    padding: 2px 9px 1px;
    margin: 0 0 2px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .75);
    color: #fff;
    font: 700 12px/22px Arial, Verdana, sans-serif;
}

.single-post-thumbnail .fancy-date {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    top: 10px;
    right: 10px;
    z-index: 30;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    background: #fff;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    min-height: 80px;
    min-width: 42px;
    padding: 2px 0;
}

.single-post-thumbnail .fancy-date .entry-date,
.single-post-thumbnail .fancy-date .entry-month {
    position: relative;
}

.single-post-thumbnail .fancy-date .entry-month {
    margin-bottom: 2px;
}

.single-post-thumbnail .fancy-date .entry-date {
    font: 700 22px/28px Arial;
    margin-bottom: 3px;
    padding: 2px;
}

.single-post-thumbnail .fancy-date .entry-month,
.single-post-thumbnail .fancy-date .entry-year {
    font: 700 12px/22px Arial;
    padding: 1px;
}

.single-post-thumbnail .fancy-date .entry-month::after,
.single-post-thumbnail .fancy-date .entry-date::after {
    left: 50%;
    bottom: -2px;
    width: 14px;
    margin-left: -7px;
    background: #eebe00;
    position: absolute;
    height: 2px;
    content: "";
}

.single-post-thumbnail img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.post-meta {
    margin: 50px auto;
    color: #999999;
    font-size: 13px;
    line-height: 23px;
}

.post-meta a {
    color: #999999;
}

.post-meta a:hover {
    color: #eebe00;
}

.post-meta .meta-detail {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.post-meta .meta-detail > span {
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin: 0 6px 0 0;
    padding: 0 9px 0 0;
}

.post-navigation {
    margin-bottom: 50px;
}

.post-navigation .nav-links {
    display: flex;
    padding: 25px 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(170, 170, 170, 0.25);
}

.post-navigation .nav-previous, .post-navigation .nav-next {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    -moz-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
    text-decoration: none;
}

.post-navigation .nav-previous {
    width: 45%;
    padding-left: 35px;
    margin-right: 30px;
}

.post-navigation .nav-previous i.fa {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 32px;
    color: rgba(51, 51, 51, 0.12);
}

.post-navigation .nav-next {
    padding-right: 35px;
    margin-left: 30px;
    width: 45%;
    text-align: right;
}

.post-navigation .nav-next i.fa {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 32px;
    color: rgba(51, 51, 51, 0.12);
}

.post-navigation .meta-nav {
    color: #999999;
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.post-navigation .post-title {
    font: normal 17px / 31px "PT Sans", Helvetica, Arial, Verdana, sans-serif;
    text-transform: none;
    color: #333333;
    align-self: flex-start;
    max-width: 100%;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    color: #333333;
}

.widget {
    color: #85868c;
    font-size: 14px;
    line-height: 25px;
    padding-top: 44px;
    padding-bottom: 44px;
    margin-bottom: -10px;
    border-top: 1px solid rgba(170, 170, 170, 0.25);
}

.widget:first-child {
    padding-top: 0;
    border-top: none;
}

.widget a, .widget li {
    color: #85868c;
    font-size: 14px;
}

.widget a:hover {
    color: #eebe00;
}

.widget-title {
    font: normal 16px / 26px "PT Sans", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    color: #03a9f4;
    margin-bottom: 15px;
}

.widget ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

.widget ul li {
    margin: 10px 0 0;
    padding: 0;
}

.widget ul li:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none !important;
}

.widget ul.product_list li {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px 0 0;
}

.widget ul.product_list li a {
    font-size: 14px;
    line-height: 25px;
}

.widget ul.product_list li img {
    float: left;
    width: 60px;
    height: auto;
    margin: 5px 20px 5px 0;
}

.widget ul.product_list li .price {
    display: block;
}

.single-blog {
    background-color: rgba(170, 170, 170, 0.1);
    border-radius: 0;
    border: 0;
}

.single-blog .card-img-top {
    border-radius: 0;
}

.single-blog .single-blog-content {
    padding: 10px 25px;
}

.single-blog .single-blog-content h3 {
    padding-top: 10px;
}

.single-blog .single-blog-content h3 a {
    color: #333333;
    font: normal 18px / 31px "PT Sans", Helvetica, Arial, Verdana, sans-serif;
    text-transform: none;
}

.single-blog .single-blog-content h3 a:hover {
    color: #eebe00;
}

.single-blog .single-blog-content .post-meta {
    margin: 0 0 10px;
}

.single-blog .single-blog-content .post-meta .post-category,
.single-blog .single-blog-content .post-meta .post-author {
    margin: 0 2px 0 0;
    padding: 0 10px 0 0;
    position: relative;
}

.single-blog .single-blog-content .post-meta .post-category::after,
.single-blog .single-blog-content .post-meta .post-author::after {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 3px;
    height: 3px;
    content: "";
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #999999;
}

.single-blog .single-blog-content p {
    margin: 0;
}

#mobile-btn-div {
    position: sticky;
    bottom: 1rem;
}

#mobile-order-div {
    background: #eee;
    /*height: auto;*/
    min-height: auto;
    bottom: 0;
    top: unset;
    padding: 15px 20px;
}

#mobile-order-div .sidebar_close_btn span::before,
#mobile-order-div .sidebar_close_btn span::after {
    background: #eebe00
}

#mobile-order-div .sidebar_close_btn {
    position: absolute;
}

@media screen and (min-width: 1200px) {
    #vrolijke .head h1 {
        max-width: 830px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }

    #vrolijke .head h1:before {
        content: '';
        position: absolute;
        left: 0px;
        right: 0px;
        top: 19px;
        margin: auto;
        border: 1px dotted #eebe00;
        width: 97%;
        z-index: -1;
    }
}

@media screen and (min-width: 768px) {
    #product_description .tab-pane p img {
        margin-top: -60px;
    }
}

@media screen and (max-width: 768px) {
    header .header_comp .cart_wrapper i.fas {
        font-size: 1.15rem
    }

    .blog-leftcol {
        border-right: 0;
    }

    #cookie-popup button.accept {
        margin: 15px auto 5px;
        display: inherit;
    }

    .checkout-breadcrumbs {
        flex-flow: column wrap;
    }

    .checkout-breadcrumbs a {
        flex-flow: row nowrap;
        align-items: center;
        width: auto;
        margin-bottom: 40px;
        text-align: left;
        font: 18px / 31px "PT Sans", Helvetica, Arial, Verdana, sans-serif;
    }

    .checkout-breadcrumbs .checkout-step {
        order: 0;
        flex: none;
    }

    .checkout-breadcrumbs .checkout-name {
        order: 1;
    }

    .checkout-breadcrumbs .checkout-counter {
        width: 40px;
        height: 40px;
        margin: 0 10px 0 0;
    }

    .checkout-breadcrumbs .step-cart .checkout-step::after {
        left: 50%;
        top: 35px;
        width: 3px;
        margin-left: -7px;
        height: 20px;
    }

    .checkout-breadcrumbs .step-cart.current:not(.hide-for-small) .checkout-step::after {
        width: 3px;
    }

    .checkout-breadcrumbs .checkout-step::before, .checkout-breadcrumbs .checkout-step::after {
        top: -25px;
        left: 50%;
        margin-left: -7px;
        height: 20px;
        width: 3px;
    }

    .checkout-breadcrumbs .checkout-step::after {
        top: 35px;
    }

    .checkout-breadcrumbs .step-cart .checkout-step::after {
        height: 40px;
    }

    .post-navigation .nav-links {
        display: block;
    }

    .post-navigation .nav-previous, .post-navigation .nav-next {
        width: 100%;
        padding: 0;
        margin: 0 0 25px 0;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -ms-flex-align: center;
        text-align: center;
        align-items: center;
    }

    .post-navigation .nav-previous i.fa, .post-navigation .nav-next i.fa {
        display: none;
    }

    .post-navigation .post-title {
        align-self: center;
    }

    #heroSlider .carousel-item {
        min-height: 150px;
    }

    #heroSlider .carousel-indicators {
        margin-bottom: 0px;
    }

    .desk_carousel .owl-buttons .owl-prev {
        margin-left: -50px;
        left: 50%;
    }

    .desk_carousel .owl-buttons .owl-next {
        margin-right: -50px;
        right: 50%;
    }

    .desk_carousel .owl-buttons div {
        top: unset;
        bottom: -50px;
    }
}

@media screen and (min-width: 576px) {
    #product_description .nav-item.active:before {
        content: '';
        position: absolute;
        top: -22px;
        left: 0;
        right: 0;
        border-top: 3px solid #eebe00;
        display: block;
    }
}

