/*ipad responsive*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .navbar-nav.attr-nav li .nav-link {
        padding: 0px;
    }

    .middle-header .text-center {
        display: contents !important;
    }

    .middle-header .text-center a {
        padding-top: 1%;
    }

    /*new-css*/
    button.navbar-toggler {
        position: absolute;
        left: -365px;
        margin-top: 8px;
    }

    a.nav-link.cart_trigger {
        padding-left: 30px !important;
    }

    /*new-css-cloose*/
}

/*ipad responsive-cloose*/

@media screen and (min-width: 1024px) {
    section.home-sec-3-mobile.container-fluid {
        display: none;
    }

    section.home-sec-4-mobile.container-fluid {
        display: none;
    }

    .mobile-container {
        display: none;
    }
}

/*desktop-cloose*/

/*mobile-responsive*/

@media screen and (max-width: 812px) {
    body {
        padding: 0%;
    }

    /*new-css*/
    i.fa.fa-user {
        padding-top: 5px;
    }

    .bottom_header.dark_skin.main_menu_uppercase {
        margin-top: -45px;
    }
    .item.product-box {
        height: auto !important;
    }

    .navbar-nav li.mobile-menu-nav {
        position: relative;
    }

    .navbar-nav li.mobile-menu-nav a {
        display: inline-block;
        width: 80%;
    }

    .navbar-nav .mobile-menu-nav span {
        position: absolute;
        right: -3px;
        top: -4px;
        color: #fff;
        transform: rotate(90deg);
        display: inline-block;
        width: 16%;
        padding: 20px 20px;
    }
    .nav-mob-submenu li {
        list-style: none;
    }
    .nav-mob-submenu li a {
        margin-left: 20px;
    }

    .nav-mob-submenu {
        display: none;
    }

    .desktop-menu {
        padding-top: 40px;
        display: none;
    }

    .customer-dashboard-section .nav-menu {
        margin-bottom: 20px;
    }

    .forget-pass {
        position: inherit !important;
        margin: 20px 0;
    }

    .img_wrapper {
        text-align: center;
    }
    .sale_wrapper .img_wrapper a i.fa-heart {
        position: relative;
        left: 40px;
        top: 0;
        font-size: 21px;
    }
    .description .title {
        margin-bottom: 0;
    }

    .main-banner-section {
        position: relative;
        top: 25px;
    }

    button.navbar-toggler {
        padding-top: 5px;
    }

    span.ion-android-menu {
        color: black;
    }
    .bottom_header .right .navbar-toggler,
    .nav-link.cart_trigger {
        color: #fff !important;
    }

    ul.navbar-nav.mx-auto {
        padding-top: 14px;
    }

    button.navbar-toggler {
        margin-top: 4px;
    }

    /*cloose*/

    /*header*/
    .middle-header img.logo {
        min-width: 100%;
    }

    .middle-header form.serach input[type='text'] {
        min-width: 90%;
        margin-left: 10px;
    }

    .middle-header .text-center {
        padding-left: 20%;
        padding-bottom: 13px;
    }

    .middle-header .text-center a {
        padding-top: 0px;
    }

    li.dropdown.cart_dropdown p.text-bask {
        padding-left: 22%;
    }

    .middle-header form.serach input[type='text'] {
        margin-bottom: 60px;
    }

    .middle-header .text-center {
        padding-top: 0;
        position: absolute;
        top: -5px;
        left: 150px;
    }
    .middle-header img.logo {
        margin-top: 20px;
    }
    .nav-link.cart_trigger {
        top: 4px;
        left: -19px;
    }

    /*mobile-nav*/
    /*mobile-nav-cloose*/
    .row.bottom-header {
        display: none;
    }

    .mobile-container {
        margin: auto;
        background-color: #555;
        color: white;
        border-radius: 10px;
    }

    .mobile-container .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .mobile-container .topnav #myLinks {
        display: none;
    }

    .mobile-container .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .mobile-container .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .mobile-container .topnav a:hover {
        background-color: #fc0c0d;
        color: white;
    }

    .mobile-container .active {
        background-color: #242424;
        height: 53px;
    }

    /*header-cloose*/
    /*footer*/
    .middle-footer input[type='text'] {
        min-width: 90%;
        margin-top: 10%;
    }

    .middle-footer button {
        height: 35px;
    }

    .middle-footer i.fa.fa-envelope {
        margin-left: -30%;
        padding-top: 10%;
    }

    .row.middle-footer {
        text-align: center;
    }

    .row.bottom-footer {
        text-align: center;
    }

    /*new*/

    .dropdown-menu.level10 {
        min-width: 110%;
        left: -5% !important;
    }

    /*new-cloose*/

    /*footer-cloose*/
    /*home-sec-2*/
    .home-sec-2 .col-sm-1.text-right {
        text-align: center !important;
        padding-bottom: 20px;
    }

    /*home-sec-2-cloose*/
    /**home-sec-3**/
    section.home-sec-3-mobile.container-fluid .row.product-box .col-sm-12 {
        background: white;
        padding-bottom: 40px;
    }

    /**home-sec-3-close**/
    /*home-sec-3-mobile*/
    .home-sec-3-mobile h2 {
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .home-sec-3-mobile h2 span {
        color: #fc0c0d;
    }

    .home-sec-3-mobile .product-box p {
        padding-left: 10px;
    }

    .home-sec-3-mobile .product-box .col-sm-2 {
        background: white;
        box-shadow: 5px 5px 5px 3px;
        padding: 12px;
        vertical-align: middle;
    }

    .home-sec-3-mobile .product-box p.text-before {
        font-weight: bold;
    }

    .product-box p.text-before span {
        font-size: 12px;
        padding-left: 5px;
        font-weight: 500;
    }

    .home-sec-3-mobile .product-box p.text-before-2 {
        font-size: 13px;
        font-weight: bold;
        margin-top: -5px;
        border-bottom: 2px solid #f0f0f0;
        padding-bottom: 10px;
    }

    .home-sec-3-mobile .product-box p.text-before-2 span {
        padding-left: 5px;
        font-weight: 400;
        font-size: 10px;
    }

    .home-sec-3-mobile .product-box a button {
        background: #fc0c0d;
        color: white;
        font-weight: bold;
        border: #fc0c0d;
        padding: 4px 10px 5px 10px;
        border-radius: 10px;
        outline: 0;
    }

    /*home-sec-3-mobile-cloose*/
    /**home-sec-4**/
    section.home-sec-4-mobile.container-fluid .row.product-box .col-sm-12 {
        background: white;
        padding-bottom: 40px;
    }

    /**home-sec-4-close**/
    /*home-sec-3-mobile*/
    .home-sec-4-mobile h2 {
        font-weight: 700;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .home-sec-4-mobile h2 span {
        color: #fc0c0d;
    }

    .home-sec-4-mobile .product-box p {
        padding-left: 10px;
    }

    .home-sec-4-mobile .product-box .col-sm-2 {
        background: white;
        box-shadow: 5px 5px 5px 3px;
        padding: 12px;
        vertical-align: middle;
    }

    .home-sec-4-mobile .product-box p.text-before {
        font-weight: bold;
    }

    .product-box p.text-before span {
        font-size: 12px;
        padding-left: 5px;
        font-weight: 500;
    }

    .home-sec-4-mobile .product-box p.text-before-2 {
        font-size: 13px;
        font-weight: bold;
        margin-top: -5px;
        border-bottom: 2px solid #f0f0f0;
        padding-bottom: 10px;
    }

    .home-sec-4-mobile .product-box p.text-before-2 span {
        padding-left: 5px;
        font-weight: 400;
        font-size: 10px;
    }

    .home-sec-4-mobile .product-box a button {
        background: #fc0c0d;
        color: white;
        font-weight: bold;
        border: #fc0c0d;
        padding: 4px 10px 5px 10px;
        border-radius: 10px;
        outline: 0;
    }
    .navbar.custom-nav.navbar-expand-lg.navbar-light.bg-light.desktop-menu {
    }

    /*home-sec-4-mobile-cloose*/
}

/*mobile-responsive-cloose*/

body {
    background: #f0f0f0 !important;
}

p {
    font-size: 16px;
}

/*header*/

/*new-css-aman*/

.top-header p {
    color: white;
}

a.btn.btn-fill-line.rounded-0.view-cart {
    color: white !important;
}

a.btn.btn-fill-out.rounded-0.checkout {
    color: white !important;
}

li.dropdown.cart_dropdown a.nav-link.cart_trigger {
    padding-top: 0px;
}

li.dropdown.cart_dropdown p.text-bask {
    color: #fc0c0d;
    display: table;
    padding-left: 5px;
}

.bottom_header {
    padding: 0px;
    margin-top: -20px;
}

span.amt {
    display: block;
}

/*new-cloose*/

.row.top-header {
    background: #fc0c0d;
    color: white;
    padding-top: 8px;
}

.row.top-header a {
    color: white;
}

.row.middle-header {
    background: white;
}

.middle-header form.serach {
    padding-top: 5%;
}

.middle-header form.serach input[type='text'] {
    width: 80%;
    background: #f0f0f0;
    padding: 13px;
    border-radius: 25px;
    border: #f0f0f0;
    outline: 0;
}

.middle-header button {
    background: #fc0c0d;
    color: white;
    border: #fc0c0d;
    width: 10%;
    padding: 13px;
    border-radius: 0px 25px 25px 0px;
    margin-left: -22px;
    outline: 0 !important;
}

.middle-header .text-center {
    padding-top: 13px;
}

.fa-user:before {
    font-size: 45px;
    color: black;
}

.middle-header .text-center a {
    color: #fc0c0d !important;
    font-weight: bold;
    font-size: 15px;
    padding-top: 3px;
}

.fa-shopping-cart:before {
    font-size: 45px;
    color: black;
}

.row.bottom-header {
    background: #242424;
    color: white;
}

ul.nav.navbar-nav {
    display: -webkit-inline-box;
    padding: 15px;
}

.bottom-header ul.nav.navbar-nav {
    display: -webkit-inline-box;
    padding: 15px;
}

.bottom-header ul.nav.navbar-nav li {
    padding: 10px;
    font-weight: 500;
}

.bottom-header ul.nav.navbar-nav li a {
    color: white;
}

/*header-cloose*/

/*footer*/

/*new-css*/

footer .widget_title {
    color: white;
    font-size: 20px;
    border-bottom: 2px solid #fc0c0d;
    padding-bottom: 9px;
}

footer .widget ul li a.nav-link.px-0.text-white {
    color: white !important;
    font-size: 16px;
}

.widget ul.widget_links a {
    color: white !important;
    font-size: 16px;
}

.widget ul.social_icons.social_white li {
    border: 2px solid;
    margin-right: 15px !important;
}

.widget ul.social_icons.social_white li i.ion-social-facebook {
    font-size: 25px;
    color: white;
}

.widget ul.social_icons.social_white i.ion-social-instagram-outline {
    font-size: 25px;
    color: white;
}

.widget ul.social_icons.social_white i.ion-social-instagram-outline:hover {
    color: #fc0c0d;
}

.widget ul.social_icons.social_white li i.ion-social-facebook:hover {
    color: #fc0c0d;
}

ul.social_icons.social_white li a {
    padding-top: 5px !important;
}

/*new-css*/

.row.top-footer {
    background: #fc0c0d;
    padding: 10px;
    color: white;
}

.top-footer i.ion-social-facebook {
    font-size: 25px;
    padding: 4px 10px 4px 10px;
    border: 2px solid;
}

.top-footer i.ion-social-facebook:hover {
    color: black;
    border: 2px solid black;
}

.top-footer i.ion-social-instagram-outline {
    font-size: 25px;
    padding: 4px;
    border: 2px solid;
    margin-left: 10px;
}

.top-footer i.ion-social-instagram-outline:hover {
    color: black;
    border: 2px solid black;
}

.row.middle-footer {
    background: #000000d9;
    color: white;
    padding: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.row.middle-footer a {
    color: white;
}

.middle-footer form.newsletter {
    text-align: right;
    position: relative;
}

.middle-footer input[type='text'] {
    width: 57%;
    padding: 4px 4px 4px 40px;
    border-radius: 15px;
    outline: 0;
}

.middle-footer button {
    background: #fc0c0d;
    color: white;
    border: #fc0c0d;
    width: 12%;
    padding: 5px;
    border-radius: 0px 25px 25px 0px;
    margin-left: -20px;
    outline: 0 !important;
}

.middle-footer i.fa.fa-envelope {
    color: #fc0c0d;
    font-size: 20px;
    position: absolute;
    top: 8px;
    left: 36%;
}

.row.bottom-footer {
    color: white;
    background: black;
    padding: 15px;
}

/*footer-cloose*/

/*home-sec-1*/

.home-sec-1 img.banner {
    width: 100%;
    padding-top: 10px;
}

p.text-color {
    background: #fc0c0d;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 18px;
}

/*home-sec-1-cloose*/

/*home-sec-2*/

section.home-sec-2.container-fluid {
    padding-left: 30px;
    padding-right: 0 !important;
    padding-bottom: 15px;
    text-align: center;
}

.home-sec-2 h3 {
    font-size: 20px;
    color: white;
}

.home-sec-2 p {
    color: white;
    margin: 0;
}

/*home-sec-2-cloose*/

/*new*/

.item.product-box {
    height: 400px;
}

/*new-cloose*/

/*home-sec-3*/

.home-sec-3 h2 {
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-sec-3 h2 span {
    color: #fc0c0d;
}

.home-sec-3 .product-box p {
    padding-left: 10px;
    margin: 5px 0 3px 0;
}

.home-sec-3 .product-box .col-sm-2 {
    background: white;
    box-shadow: 5px 5px 5px 3px;
    padding: 12px;
    vertical-align: middle;
}

.item.product-box {
    background: white;
    padding: 12px;
    vertical-align: middle;
}

.home-sec-3 .product-box p.text-before {
    font-weight: bold;
}

.product-box p.text-before span {
    font-size: 12px;
    padding-left: 5px;
    font-weight: 500;
}

.home-sec-3 .product-box p.text-before-2 {
    font-size: 13px;
    font-weight: bold;
    margin-top: -5px;
    padding-bottom: 0px;
}

.home-sec-3 .product-box p.text-before-2 span {
    padding-left: 5px;
    font-weight: 400;
    font-size: 10px;
}

.home-sec-3 .product-box a button {
    background: #fc0c0d;
    color: white;
    font-weight: normal;
    border: #fc0c0d;
    padding: 5px 15px;
    border-radius: 10px;
    outline: 0;
}

/*home-sec-3-cloose*/

/*home-sec-4*/

.home-sec-4 h2 {
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
}

.home-sec-4 h2 span {
    color: #fc0c0d;
}

.home-sec-4 .product-box p {
    padding-left: 10px;
    margin: 5px 0 3px 0;
}

.home-sec-4 .product-box .col-sm-2 {
    background: white;
    box-shadow: 5px 5px 5px 3px;
    padding: 12px;
    vertical-align: middle;
}

.home-sec-4 .product-box p.text-before {
    font-weight: bold;
}

.home-sec-4 .product-box p.text-before span {
    font-size: 12px;
    padding-left: 5px;
    font-weight: 500;
}

.home-sec-4 .product-box p.text-before-2 {
    font-size: 13px;
    font-weight: bold;
    margin-top: -5px;
    padding-bottom: 0px;
}

.home-sec-4 .product-box p.text-before-2 span {
    padding-left: 5px;
    font-weight: 400;
    font-size: 10px;
}

.home-sec-4 .product-box a button {
    background: #fc0c0d;
    color: white;
    font-weight: normal;
    border: #fc0c0d;
    padding: 5px 15px;
    border-radius: 10px;
    outline: 0;
}

/*home-sec-4-cloose*/

/*home-sec-5*/

section.home-sec-5.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 110px;
}

.home-sec-5 h2 {
    border-bottom: 1px solid #bababa;
    padding-bottom: 50px;
    padding-top: 50px;
    font-weight: 700;
}

.home-sec-5 h2 span {
    color: #fc0c0d;
}

.home-sec-5 img {
    width: 90%;
    /*height: 160px;*/
}

.home-sec-5 h3 {
    padding-left: 6px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 20px;
}

ul.item-list {
    list-style: none;
    padding: 0;
    padding-left: 8px;
}

ul.item-list li {
    display: block;
    border-bottom: 1px solid #bababa;
    padding-bottom: 13px;
    width: 90%;
}

ul.item-list li a {
    color: black;
    text-decoration: none;
}

/*home-sec-5-cloose*/

/*product-page*/

section.shop-sec-1.container-fluid img {
    width: 100%;
}

section.shop-sec-1.container-fluid {
    padding: 15px;
}

.col-sm-8.shade {
    padding-left: 65px;
}

.shop-sec-1 .box-shade {
    background: white;
    padding: 30px;
}

p.sku {
    font-weight: 700;
}

p.sku span {
    font-size: 11px;
    font-weight: 400;
}

h3.price {
    color: #fc0c0d;
    font-weight: 700;
}

h3.price span {
    color: black;
    font-size: 14px;
    font-weight: 400;
}

p.price {
    color: #fc0c0d;
    font-weight: 700;
}

p.price span {
    color: black;
    font-size: 11px;
    font-weight: 400;
}

.addtocart-selector.small {
    display: inline-flex;
    padding-bottom: 25px;
}

.addtocart-selector.small label {
    font-weight: bold;
    padding-right: 10px;
}

.addtocart-qty input.addtocart-input {
    width: 40%;
    text-align: center;
    border: 2px solid black;
    padding-top: 8px;
    padding-bottom: 8px;
}

.addtocart-selector.small button {
    background: #fc0c0d;
    color: white;
    border: #fc0c0d;
    font-weight: 700;
    padding: 10px 25px 10px 25px;
    margin-left: -24%;
}

.review {
    background: #e4e4e4;
    display: table;
    margin: 0 auto;
}

.review img.review {
    width: 35px;
    padding-left: 10px;
    margin-left: 5px;
}

.review-text {
    background: #e4e4e4;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 20px;
}

.review-text p {
    font-weight: 600;
}

.review-text h4 {
    font-weight: 500;
}

.star-rating span.Rating {
    font-weight: 600;
    padding-right: 20px;
}

.star-rating .fa-star {
    color: #fc0c0d;
}

.form-group {
    display: inline-flex;
    width: 90%;
    padding-top: 20px;
}

.form-group input#exampleInputEmail1 {
    margin-left: 20px;
}

.form-group span {
    font-weight: 600;
    margin-top: 5px;
}

.form-group button {
    margin-left: 20px;
    background: #fc0c0d;
    color: white;
    border: #fc0c0d;
    padding: 5px 15px 5px 15px;
    font-weight: 500;
}

/*mobile-responsive*/

@media screen and (max-width: 812px) {
    section.shop-sec-1.container-fluid img {
        width: 100%;
    }

    .col-sm-2.color {
        min-width: 28%;
        padding-top: 8px;
    }

    .col-sm-8.shade {
        padding-left: 0px;
    }

    .form-group button {
        width: 140px;
    }
    .middle-header button {
        padding: 12px;
    }
    .fa-shopping-cart:before {
        font-size: 15px;
    }
    .fa-user:before {
        font-size: 20px;
    }
    .middle-header .text-center a {
        font-weight: 600;
        font-size: 10px;
    }
    ul.navbar-nav.attr-nav.align-items-center.my-cart-menu {
        position: relative;
        left: 8px;
        top: 6px;
    }
    li.dropdown.cart_dropdown p.text-bask {
        font-weight: 600;
        font-size: 10px;
    }
    .cart_count,
    .wishlist_count {
        height: 14px;
        line-height: 14px;
        font-size: 9px;
    }
    .home-sec-2.container-fluid.delivery-detail .delivery-image {
        width: 45px;
    }
    .home-sec-2 p {
        margin-bottom: 20px;
    }
    .home-sec-3 .product-box p {
        margin-top: 10px;
    }
    .home-sec-4 .product-box p {
        margin-top: 10px;
    }
}

/*mobile-responsive*/

/*product-page-cloose*/

.owl-prev,
.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border: 0px solid black;
}

.owl-prev {
    left: -20px;
}

.owl-next {
    right: -20px;
}

.owl-prev i,
.owl-next i {
    transform: scale(2, 5);
    color: #fc0c0d;
}

.custom-tab {
    background: #e4e4e4;
    max-width: 28% !important;
    margin-left: 15px;
    padding-top: 10px;
}

.testinggit {
}

/*checkout page*/

button.place-order.d-block.theme_btn.text-uppercase.text-center {
    background: #fc0c0d;
    font-weight: 500;
    border: #fc0c0d;
    color: white;
    padding: 5px 20px 5px 20px;
}

input#billing_address2 {
    /*margin-top: 0px !important;*/
}

label#email-error {
    padding-left: 25px;
}

.form-group {
    display: block;
}

/*checkout page-cloose*/

/*cart page*/

p.checkout-bt {
    background: #fc0c0d;
    border: #fc0c0d;
    padding: 5px 10px 5px 10px;
}

p.checkout-bt a {
    color: white;
    font-weight: 500;
}

/*cart page-cloose*/

/*my account-page*/

button.theme_btn:hover {
    background: black;
    color: white;
}

button.theme_btn {
    background: #fc0c0d;
    color: white;
    border: #fc0c0d;
    padding: 10px 15px 10px 15px;
    font-weight: 500;
    margin-top: 5% !important;
}

.col-12.col-md-6.text-right {
    text-align: center !important;
}

/*my account-page-cloose*/

/*shop-page*/

form#frm-addtocart {
    display: block !important;
}

span.cart_text {
    color: white;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    background: #fc0c0d;
    border: #fc0c0d;
    padding: 3px 15px 3px 15px;
}

a.theme_btn.text-white {
    color: white;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    background: #fc0c0d;
    border: #fc0c0d;
    padding: 3px 15px 3px 15px;
}

/*shop-page-cloose*/

/*Header menu start */

.header-menu .custom-nav .dropdown-menu.level10 li.dmenu-item {
    margin: 0;
}
.custom-nav ul li ul {
    text-align: left;
}
.custom-nav .dropdown-menu.level10 li.dmenu-item {
    width: auto;
}
.custom-nav .dropdown-menu.level10 {
    padding: 20px;
}
.custom-nav .dropdown-menu.level10 li.dmenu-item {
    margin-left: 20px;
    margin-bottom: 0;
}
.custom-nav .dropdown-menu.level10 li.dmenu-item a {
    text-transform: capitalize;
    color: #606060 !important;
    font-weight: normal;
}
.custom-nav .dropdown-menu li.dmenu-item a:last-child {
    margin-bottom: 0;
}
ul.navbar-nav.attr-nav.align-items-center.my-cart-menu {
    position: relative;
}
.fa-shopping-cart:before {
    font-size: 22px;
    color: black;
}
span.amt {
    display: block;
    position: absolute;
    top: 2px;
    left: 65px;
    font-size: 11px;
}
.cart_count,
.wishlist_count {
    position: absolute;
    top: 0;
    left: 106px;
    font-size: 9px;
}
.nav-menu-bar li:first-child {
    border-left: none;
}
.nav-menu-bar li {
    border-left: 1px dashed #ffffff;
    /*min-height: 90px;*/
    width: 130px;
    display: inline-block;
}
.nav-menu-bar li a {
    font-size: 13px !important;
}
.navbar .navbar-nav li:hover > .dropdown-menu,
#navCatContent ul > li:hover .dropdown-menu {
    margin-top: 38px;
    border-radius: 0;
    box-shadow: 0 0 12px #0000003b;
}
.custom-nav ul li a {
    padding: 20px 25px !important;
}
.custom-nav ul li a:hover {
    background: #fff !important;
}
.navbar .navbar-nav > li > .nav-link:hover {
    color: #ed1f24 !important;
}
.custom-nav .dropdown-menu li.dmenu-item a.heading {
    margin: 0 !important;
    border-bottom: 1px dashed #ed1f24;
    font-size: 15px !important;
}
.custom-nav .dropdown-menu.level10 {
    box-shadow: 0 0 1px 0px #0000003b;
}
.navbar .navbar-nav li {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 90px;
    padding: 0 8px;
    position: relative !important;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}
.navbar .navbar-nav > li > .nav-link {
    white-space: normal;
}
.custom-nav ul {
    display: initial;
}
.dropdown-toggle::after,
.dropdown-toggler::after {
    position: absolute;
    left: 125px;
    top: 37px;
}
.navbar .navbar-nav li .dropdown-menu ul.d-menu-inner li.dmenu-item {
    min-height: auto;
    display: block;
    margin: 0;
    padding: 6px 0;
}
.navbar-toggler[aria-expanded='true'] span::before {
    color: #fff;
}
/*Header menu end */

/* Additional css start*/
.truncate {
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
html,
body {
    overflow-x: hidden;
}
body {
    /*position: relative;*/
}
.btn.btn-fb {
    padding: 0;
    margin: 0;
}
.btn.btn-fb i {
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 1.8;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #3b5998;
}
.shop-sec-1 .shade .box-shade .sku {
    margin: 0;
}
p.price {
    margin: 0;
}
.sale_wrapper .img_wrapper a i.fa-shopping-cart {
    position: relative;
    left: -50px;
    top: 31px;
}
.login-status > p {
    border: 1px solid #ccc;
    padding: 24px;
    border-radius: 8px;
    margin: 0 0 20px 0;
    background: #f3f3f3;
}
.customer-dashboard-section .nav-menu {
    list-style: none;
    border: 1px solid #ccc;
    padding: 24px;
    border-radius: 8px;
    background: #f3f3f3;
}
.customer-dashboard-section .nav-menu li {
    margin-bottom: 5px;
}
.customer-dashboard-section .nav-menu li.active a {
    font-weight: bold;
    color: #687188;
}
.customer-dashboard-section .nav-menu li a {
    color: #687188;
}
.forget-pass {
    position: relative;
    left: 40px;
    top: 21px;
    color: #687188;
}
.forget-pass a {
    color: #687188;
    text-decoration: underline;
}
.product-category-page p {
    margin: 0;
    margin-top: 20px;
}
.expiry-form {
    width: 70px !important;
    padding: 0;
    margin: 0;
    display: inline-block;
    /* height: calc(1.5em + .75rem + 2px); */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* Additional css end*/
